{{$img := .Page.Resources.GetMatch .Destination }}
{{$src := .Destination | safeURL }}

{{ if $img}}
<p style="text-align:center;">
    {{ if eq $img.MediaType.MainType "image"}}

    {{ if and (ne $img.MediaType.SubType "svg") (ne $img.MediaType.SubType "gif") (gt (float $img.Width) 960 )}}
    <a href="{{ $src }}" class="transition-all ease-in-out hover:drop-shadow-lg ">

        {{$small := $img.Resize "640x webp" }}
        {{$mid := $img.Resize "960x webp" }}

        <img srcset="
        {{$small.RelPermalink}} 640w,
        {{$mid.RelPermalink}} 960w" src="{{$mid.RelPermalink}}" sizes="(max-width:960px) 100vw, 960px"
            alt="{{ .Text }}" {{ with .Title}} title="{{ . }}" {{ end }} class="w-full aspect-auto" />

    </a>
    {{ else }}

    <a href="{{$img.RelPermalink}}" class="transition-all ease-in-out hover:drop-shadow-lg ">
        <img src="{{$img.RelPermalink}}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}" {{ end }} class="w-full aspect-auto" />
    </a>

    {{ end }}

    {{ end }}

</p>
{{else}}
{{end}}
