<!DOCTYPE html>
<html lang="{{.Lang}}" prefix="og: http://ogp.me/ns#">
  <head>
    {{ block "head" .}}
    {{- partialCached "head_default.html" . -}}
    {{ if .Param "math" }}
      {{ partialCached "math.html" . }}
    {{ end }}
    {{- partial "meta.html" . -}}
    <title>{{with .Title}}{{ . }} - {{end}}{{ .Site.Title }}</title>
    {{ end }}
</head>
<body>
  <div class="bg-base-100 text-base-content">
    {{ partial "header.html" . }}
    {{ block "main" . }}
      {{ partial "single-body.html" .}}
    {{ end }}
    {{ partialCached  "footer.html" . }}
  </div>
  {{ partialCached  "inject/body.html" . }}
</body>
</html>
