<!DOCTYPE html>
<html data-theme="light" lang="{{.Lang}}" prefix="og: http://ogp.me/ns#">
  <head>
    {{ block "head" .}}
    {{- partial "head_default.html" . -}}
    {{- partial "meta.html" . -}}
    <title>{{with .Title}}{{ . }} - {{end}}{{ .Site.Title }}</title>
    {{ end }}
</head>
<body>
  <div class="bg-base-100 text-base-content">
    {{ partial "header.html" . }}

    {{ block "main" . }}
        <div id="inner">
            <div class="markdown">
                {{ .Content}}
            </div>
        </div>
    {{ end }}
    {{ partialCached  "footer.html" . }}
  </div>
</body>
</html>
