<footer class="footer p-10 bg-base-200 text-base-content">
    <div class="row-span-2">
        <span class="footer-title">Contents</span>
        {{ $currentPage := . }}
        {{range .Site.Menus.main}}

        <a href="{{.URL|absLangURL}}" class="link link-hover">{{.Name}}
            {{if (urls.Parse .URL).IsAbs}}
            <div class="inline-block h-4 align-middle">{{partialCached "icons/external_link.html" .}}</div>
            {{end}}
        </a>

        {{ end }}
    </div>
    <div>
        <span class="footer-title">Social</span>
        <div class="grid grid-flow-col gap-4">
            {{range sort $.Site.Params.socials "weight" }}
            {{ $iconPath := printf "icons/%s.html" .name }}
            <a href="{{.url}}" class="fill-current btn-sm w-full">
                {{ if templates.Exists ( printf "partials/%s" $iconPath ) }}
                {{ partialCached $iconPath . }}
                {{ else }}
                no icon
                {{ end }}
            </a>
            {{end}}
        </div>
    </div>
    <div>
        <span class="footer-title">Copyright</span>
        <a href="{{.Site.BaseURL}}license" class="link">&copy;2016-{{ now.Format "2006"}} (Creative Commons 4.0
            by-nc-nd) Matsuura Tomoya</a>

    </div>

</footer>