<div class="navbar bg-base-100 px-10">
      <div class="flex-1">
        <a href="{{.Site.BaseURL | absLangURL}}" class="gap-0 h-20 btn btn-ghost flex-col items-start normal-case text-primary">
                <span>Matsuura Tomoya</span>
                <span>マツウラトモヤ</span>
                <span>松浦知也</span>
        </a>
    </div>

    <div class="flex-none">
        <ul class="menu hidden md:visible md:menu-horizontal px-1 text-primary">
            {{ $currentPage := . }}
            {{range .Site.Menus.main}}
            <li>
                <a href="{{.URL|absLangURL}}" {{if $currentPage.IsMenuCurrent "main" . }} class="opacity-60" {{end}}
                    {{if (urls.Parse .URL).IsAbs}}target="_blank" {{end}}>{{.Name}}
                    {{if (urls.Parse .URL).IsAbs}}
                    <div class="inline-block h-4 fill-primary">{{partialCached "icons/external_link.html" .}}</div>
                    {{end}}
                </a>

            </li>
            {{ end }}
        </ul>

        <details class="dropdown visible md:hidden px-1">
            <summary class="btn btn-outline">
                Menu
            </summary>
            <ul class="dropdown-content menu z-25 p-2 rounded-box bg-neutral text-neutral-content">
                {{ $currentPage := . }}
                {{range .Site.Menus.main}}
                <li>
                    <a href="{{.URL|absLangURL}}" class="fill-current-content hover:fill-accent hover:text-accent-content {{if $currentPage.IsMenuCurrent "main" . }} opacity-60{{end}}"{{if (urls.Parse .URL).IsAbs}} target="_blank" {{end}}>{{.Name}}
                        {{if (urls.Parse .URL).IsAbs}}
                        <div class="inline-block h-4 fill-current">{{partialCached "icons/external_link.html"
                            .}}
                        </div>
                        {{end}}
                    </a>
                </li>
                {{ end }}
            </ul>
        </details>


    </div>

    <div class="dropdown dropdown-end text-primary">
        <div title="{{if eq (len .Translations) 0 }}This article has no translated versions.{{else}}Change Language{{end}}" tabindex="0" class="btn btn-ghost {{if eq (len .Translations) 0 }} btn-disabled{{end}} normal-case">
            {{- partialCached "icons/translate.html" . -}}
            {{- partialCached "icons/cheveron-down.html" . -}}
        </div>
        {{if gt (len .Translations) 0 }} 
        <ul tabindex="0" class="menu menu-sm gap-1 dropdown-content rounded-box bg-base-200 overflow-y-auto ">
            {{ range .Translations }}
            <li><a href="{{ .Permalink }}" class="btn btn-sm">{{ .Language.LanguageName }}</a></li>
            {{ end }}
        </ul>
        {{end}}
        
    </div>

</div>