{{ define "main" }}
{{ partial "single-hero.html" .}}
{{$header:=""}}

{{with .Params.ogpimage}}
{{$header = .}}
{{end}}
{{with .Params.thum}}
{{$header = .}}
{{end}}
{{$img := .Page.Resources.GetMatch $header }}
<div class="flex flex-row justify-center px-10">
    <div class="prose lg:prose-xl">
        <a href="{{ $img.RelPermalink | safeURL }}" class="transition-all ease-in-out hover:drop-shadow-lg ">

            {{$small := $img.Resize "640x webp" }}
            {{$mid := $img.Resize "960x webp" }}

            <img srcset="
        {{$small.RelPermalink}} 640w,
        {{$mid.RelPermalink}} 960w" src="{{$mid.RelPermalink}}" sizes="(max-width:960px) 100vw, 960px"
                class="w-full aspect-auto" />

        </a>
    </div>
</div>
{{ partial "single-body.html" .}}
{{ partial "pagination-single.html" . }}
{{ end }}